/* ==========================================================================
  #TABS
  ========================================================================== */

.c-tabs {}

  .c-tabs__link {
    @apply inline-block px-3 py-5 text-theme-700 no-underline;
    position: relative;

    &::before {
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-bottom-color: transparent;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:hover {
      @apply text-primary;
      @apply no-underline;
    }

    &.is-active {
      @apply text-primary;

      &::before {
        border-bottom-color: currentColor;
      }
    }
  }