@font-face {
    font-family: 'Roboto';
    src: url('--ASSETS-URL--/system/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('--ASSETS-URL--/system/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('--ASSETS-URL--/system/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('--ASSETS-URL--/system/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('--ASSETS-URL--/system/fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
